In [3]:
x="infy"
x[0]='I'

TypeError: 'str' object does not support item assignment

In [4]:
y=(10,20,30)
y[2]=300

TypeError: 'tuple' object does not support item assignment

In [5]:
z=['Perl','Python','Php']
z[2]="PHP"

In [6]:
num=[1,2,3]
num*2

[1, 2, 3, 1, 2, 3]

Assume that Ram has framed his regular expression like[Aa]bc for pattern matching which of the following matches with above metioned code

Aabc only

abc only

Abc only

Both abc and Abc  <------

Which of these is not feature of python

platform independent

licensed <-----

object oriented 

interpreted

In [7]:
num=[1,123,121,12,110,11,10]
sorted(num)
num

[1, 123, 121, 12, 110, 11, 10]

In [8]:
Basicsalary=55000.56
DA=5000.34
print("My Salary is %d" %(Basicsalary+DA))

My Salary is 60000

 Which is below mentioned string funtion raises valuerror when search pattern not found
    
    find
    
    rfind
    
    index  <---
    
    rindex

In [7]:
_=100

#### Assume that Raghu has framed his reg ex like Indic?a for pattern matching which of the following matches with the patten mentioned above?

Indic?a

Indica only

Indica,Indicca only

both India and Indica <-----

In [9]:
print(3*1**3)

3

In [10]:
var='Python'
print(var +'entered')

Pythonentered

In [11]:
Company='Infosys'+\
        '31'+\
        'Limited'
print(Company)

Infosys31Limited

In [12]:
Tech='Python'
print(Tech*len(Tech))

PythonPythonPythonPythonPythonPython

Choose the right category according to the classifications made
Jython,IronPython,Pydev,Django


jython,IronPython,Django--Ptyhon Frameworks

Pydev,Django--just python IDE's and not frameworks

juthon, ironpython are flavours of Python

Pydev,Jython,ironPython are flavours of Python

#### A function is defined for accepting 2 parameters  During invocation if ther is ony one argument passed what kind of expection it would raise

ValueError

AttributeError

TypeError

KeyError

In [13]:
x=[40,876,3553,22]
y=x[:]
y.sort()
print(y[2],x[2])

876 3553

In [2]:
x=[10,20]
z=x[:]
y=x
y[1]=30
x[1]

30

In [4]:
s1={1,2}
s1*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

#### You are asked to replace a pattern with a differnt pattern.Which of these ways of parameter passing is correct

re.search(extraction pattern,substitution, source string, max substitution)

re.findall(substitution, extration pattern, source string, max substitution)

re.sub(extraction pattern, substitution, source string, max substitution)

re.sub(substitution,extration pattern, source string, max substitution)

In [14]:
Dic={'2323':"Ram","4321":"Shan","99989":"Romy"}
print(4321 in Dic)

False

In [15]:
Dic={'2323':"Ram","4321":"Shan","99989":"Romy"}
print("4321" in Dic)

True

In [16]:
import re
a="Malaaavikaa"
print(re.sub('a{2}','*',a,1))

Mal*avikaa

In [18]:
def add(num1=0, num2=0):
    return (num1+num2)
print(add(3))

3

In [19]:
import re
stmt1="The event starts in Jan"
print(re.split('"',stmt1))

['The event starts in Jan']

In [20]:
lis=[1,3,5,7]
for a in (lis[::2]):
    str="Infosys"
    print(str[a])

n
y

In [21]:
x="abcdef"
i="a"
while i in x:
    x=x[:-1]
    print(i,end=" ")

a a a a a a

In [22]:
for cnt in 10,20,'string',30:
    print("I fetched ",cnt)

I fetched  10
I fetched  20
I fetched  string
I fetched  30

In [23]:
try:
    print(10*(1/0))
    print(203/0)
    print(var*33)
except(ZeroDivisionError,NameError):
    print('Error')

Error

In [28]:
lang_add={}

def addnew(lang):
    if lang in lang_add:
        lang_add[lang]+=1
    else:
        lang_add[lang]=1

addnew('PHP')
addnew('Python')
addnew('Php')
addnew('Perl')

print(len(lang_add))

4

In [26]:
import re
name='Ram_06at1982@gmail.com'
print(re.findall('[\d]+',name))

['06', '1982']

In [30]:
a="Adventurous Journey During travelling"
b=a.splitlines(False)
print(a.replace(" "," ",3)) #Line1
print (b)#Line2

Adventurous Journey During travelling
['Adventurous Journey During travelling']

In [31]:
names1=['Amit','Ben','Charlie','Damn']
names2=names1
names3=names1[:]
names2[0]='Stefan'
names3[1]='John'
sum=0

for ls in (names1,names2,names3):
    if ls[0]=='Stefan':
        sum+=1
    if ls[1]=="John":
        sum+=10
print(sum)

12

In [32]:
class Base:
    def __init__(self,num):
        self.n1=num
class Child(Base):
    def __init__(self,num):
        self.n2=num

oC=Child(12)
print(oC.n1,oC.n2)

AttributeError: 'Child' object has no attribute 'n1'

In [34]:
class P:
    def f(self):
        return self.g()
    def g(self):
        return 'P'
class C(P):
    def g(self):
        return 'C'

p=P()
c=C()
print(p.f(),c.f())
print(p.g(),c.g())

P C
P C

In [35]:
class Person:
    def __init__(self,id):
        self.id=id
obama=Person(100)
obama.age=49
print(obama.age+2)

51

#### Which of the following statemen in python is True

A class can be considered a template or blueprint that can be used to create objects

to create an object it is important to look at the constructor method __init__() to find out the argument that are required.

In [36]:
class NumTest:
    def __init__(self):
        self.val=1
    def Test(self):
        if self.val==1:
            print('Harry')
            self.var=2
        else:
            print('met')
class Assign(NumTest):
    def __init__(self):
        NumTest.__init__(self)
        self.data="Sally!"
    def Disp(self):
        print(self.data)
oN=NumTest()
oN.Test()
oP=Assign()
oP.Test()

Harry
Harry

In [12]:
class Test:
    def __init__(self):
        self.bool=True
    def prnt(self):
        if self.bool:
            print('Hi')
            self.bool=False
        else:
            print('Bye')
class Alpha(Test):
    def __init__(self):
        self.val='555'
    def disp(self):
        print(self.val)

t1=Test()
t1.prnt()
t1.prnt()

t2=Alpha()
t2.disp()

Hi
Bye
555

In [38]:
Class Identity:
    def __init__(self,val):
        self.val=val
        id=999
id=Identity(101)
print(id.val)

SyntaxError: invalid syntax (<ipython-input-38-e71a434bc907>, line 1)

In [44]:
class Demo:
    def __init__(self,num1,num2):
        self.val=num1+num2
class Demo1(Demo):
    def __init__(self,num1,num2):
        self.val=num1+num2
        super().__init__(num1,num2)
obj1=Demo1(20,10)
obj2=Demo(20,10)
print(obj1.val)
print(obj2.val)

30
30

In [45]:
class Test:
    __sum=0
    def disp(self):
        self.__sum+=1
        print(self.__sum)
print(Test.__sum)

AttributeError: type object 'Test' has no attribute '__sum'

In [13]:
class Parent1:
    def display(self):
        print('Parent1')

class Parent2:
    def display(self):
        print('Parent2')
    def disp(self):
        print('Parent2 disp')
        
class Child1(Parent1,Parent2):
    pass

class Child2(Parent1,Parent2):
    def disp(self):
        print('Child2 disp')
        
class GrandChild(Child1,Child2):
    pass

gc=GrandChild()
Child2.disp(gc)
# gc.display()
# gc.disp()

Child2 disp

In [1]:
lis=[10,20,30,40,50,60,70,80]
lis.pop(6)
print(lis[:-2])

[10, 20, 30, 40, 50]

In [3]:
a=b=c=2*4*3*1
a

24

In [4]:
b

24

In [5]:
c

24

In [6]:
num={5,6,7}
num*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [7]:
print("Stefan Salvatore",[5:])

SyntaxError: invalid syntax (<ipython-input-7-5dc9356c8e40>, line 1)

In [10]:
name=["Stefan","Damon","Elena","Katherine"]
print(name[-2][2])

e

In [9]:
def power(x,y):
    r=1
    for i in range(y):
        r=r*x
    return r
print(power(3,4))

81

In [19]:
var=0
if var:
    print("I m in if")
elif var==0:
    print("Hello in Elif 1")
elif var==0:
    print("hello in elif 2")
else:
    print("in else")
print("over")

Hello in Elif 1
over

In [20]:
num=5
while(--num):
    num=num-1
    print(num)

4
3
2
1
0

In [21]:
import re
message="I thought a great thought today"
print(re.sub("thought",'jump',message))

I jump a great jump today

In [22]:
lis=[1,3,5,7,9,11,13,17,19,23,29]
op=range(4,len(lis),2)
op

range(4, 11, 2)

In [22]:
import re
sum=0
pattern ='py'
if re.match(pattern,'python.txt'):
    sum+=1
if re.match(pattern,'text.py'):
    sum+=2
if re.search(pattern,'.herepyfile'):
    sum+=4
if re.search(pattern,'numpy'):
    sum+=8

sum

13

In [26]:
class A():
    def __init__(self,a={}):
        if not("1" in a):
            a["1"]=1
        else:
            a['1']+=1
        print(a['1'])
for i in range(2):
    a=A()

1
2

In [27]:
class cow:
    species="mammal"
    def __init__(self,name,age):
        self.name=name
        self.age=age
        self.species='birds'
mucy=cow('mucy',3)

print(cow.species)
print(mucy.species)

mammal
birds

In [28]:
class parent:
    def test(self):
        print("alpha test")
class child(parent):
    pass

obj=parent()
obj2=child()
obj.test()
obj2.test()

alpha test
alpha test

In [12]:
class test:
    __sum=0
    def disp(self):
        self.__sum+=1
        print(self.__sum)

ob1=test()
ob1.disp()
ob1.disp()
print(ob1._test__sum)

1
2
2

In [2]:
print(50+delta*10)

NameError: name 'delta' is not defined

In [3]:
var=02
var+20

SyntaxError: invalid token (<ipython-input-3-515d5a2da16d>, line 1)

In [10]:
xyz=('apple','applets','app')
abc="Assassination"
sub='s'
print(abc.replace('s','S',len(min(xyz))))

ASSaSsination

In [8]:
xyz=('apple','applets','app','ap')
abc='Semesters'
sub='e'
print(abc.find(sub,len(min(xyz)),len(max(xyz))))

3

In [11]:
class MultiplierClass:
    def __init__(self,factor):
        self.factor=factor
    def multiplier(self,argument):
        return argument*self.factor
    
def generate_multiplier(factor):
    return MultiplierClass(factor).multiplier

twice=generate_multiplier(2)
print(twice(5))

10

In [8]:
import re

my_text='''
India in my country and in india there are 28 states. In India indica is car which widely used .
its indica indicca

indi a
indi_a
indi-a
indi@a

Abc
abc
AAbc
ABC

1800-140-2400
1800-140-2401

'''
pattern=re.compile(r'\d{3,4}-\d{3}-\d{4}')
# pattern=re.compile(r'indic?a')
# pattern=re.compile(r'[Aa]bc')
matches =pattern.findall(my_text)
for match in matches:
    print (match)

1800-140-2400
1800-140-2401

In [24]:
my_text='''
India in my country and in india there are 28 states. In India indica is car which widely used .
its indica indicca
'''
new_text=my_text.replace("India",'Canada')
new_text

'\nCanada in my country and in india there are 28 states. In Canada indica is car which widely used .\nits indica indicca\n'